@import "../../variable";
@import "../../mixin";

.home__container {
  @include flexbox;
  @include flex_directions(column);
  @include align_items(center);
  @include gap(18px);
}

.home__img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
